# Title

In [ ]:
# Análise de base de dados do Kaggle
# Bank Marketing

# Head

In [10]:
# by geanclm in 01/03/2022 at 19:15h

# Local files

In [14]:
# arquivos utilizados
!dir

 O volume na unidade C ‚ Windows
 O N£mero de S‚rie do Volume ‚ 2656-7D0D

 Pasta de C:\Users\geanc\Downloads\DATA SCIENCE\FLAI\MBA\Data Analytics\Bank Marketing

01/03/2022  19:15    <DIR>          .
01/03/2022  19:15    <DIR>          ..
01/03/2022  19:08    <DIR>          .ipynb_checkpoints
01/03/2022  19:06             3.417 Bank Marketing.txt
01/03/2022  19:00         5.834.924 bank-additional-full__.csv
01/03/2022  19:04         1.628.136 bank-additional-full__.ods
01/03/2022  18:59             5.458 bank-additional-names.txt
01/03/2022  19:15            17.237 Kaggle_Bank_Marketing_csv.ipynb
               5 arquivo(s)      7.489.172 bytes
               3 pasta(s)   624.933.654.528 bytes dispon¡veis

# Import libs

In [1]:
import pandas as pd

# Metadata

In [18]:
# 01 - age (numeric) = idade
# 02 - job : type of job (categorical) = profissão
# 03 - marital : marital status (categorical) = estado civil
# 04 - education (categorical) = escolaridade
# 05 - default: has credit in default? (categorical) = inadimplente
# 06 - housing: has housing loan? (categorical) = crédito imobiliário
# 07 - loan: has personal loan? (categorical) = crédito pessoal
# 08 - contact: contact communication type (categorical) = contato
# 09 - month: last contact month of year (categorical) = último mês de contato
# 10 - day_of_week: last contact day of the week (categorical) = último dia da semana de contato
# 11 - duration: last contact duration, in seconds (numeric) = duração em segundos do último contato
# 12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
# 13 - pdays: (numeric) = número de dias desde o último contato
# 14 - previous: (numeric) = número de contatos feitos ao clientes antes da útima campanha
# 15 - poutcome: (categorical) = resultado da campanha
# 16 - emp.var.rate: (numeric) = tx de variação de emprego
# 17 - cons.price.idx: (numeric) = índice de preço ao consumidor (IPC)
# 18 - cons.conf.idx: (numeric) = índice de confiança do consumidor
# 19 - euribor3m: (numeric) = tx de 3 meses euribor
# 20 - nr.employed: (numeric) = número de empregados

# Output variable (desired target):
# 21 - y - has the client subscribed a term deposit? (binary: 'yes', 'no')

# Import data

In [2]:
# fonte: https://www.kaggle.com/henriqueyamahata/bank-marketing?select=bank-additional-names.txt
df = pd.read_csv('bank-additional-full__.csv', sep=';')

In [8]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB