# Title

In [1]:
# Análise de base de dados do Kaggle
# Bank Marketing

# Head

In [2]:
# by geanclm in 01/03/2022 at 19:15h

# Local files

In [3]:
# arquivos utilizados
!dir

 O volume na unidade C ‚ Windows
 O N£mero de S‚rie do Volume ‚ 2656-7D0D

 Pasta de C:\Users\geanc\Downloads\DATA SCIENCE\FLAI\MBA\Data Analytics\Bank Marketing

04/03/2022  12:15    <DIR>          .
04/03/2022  12:15    <DIR>          ..
01/03/2022  19:08    <DIR>          .ipynb_checkpoints
01/03/2022  19:00         5.834.924 bank-additional-full__.csv
04/03/2022  12:15         1.766.937 bank-additional-full__.ods
01/03/2022  18:59             5.458 bank-additional-names.txt
04/03/2022  11:35            34.496 Kaggle_Bank_Marketing_csv.ipynb
               4 arquivo(s)      7.641.815 bytes
               3 pasta(s)   622.840.811.520 bytes dispon¡veis

# Import libs

In [4]:
import pandas as pd

# Metadata

In [5]:
# 01 - age (numeric) = idade
# 02 - job : type of job (categorical) = profissão
# 03 - marital : marital status (categorical) = estado civil
# 04 - education (categorical) = escolaridade
# 05 - default: has credit in default? (categorical) = inadimplente
# 06 - housing: has housing loan? (categorical) = crédito imobiliário
# 07 - loan: has personal loan? (categorical) = crédito pessoal
# 08 - contact: contact communication type (categorical) = contato
# 09 - month: last contact month of year (categorical) = último mês de contato
# 10 - day_of_week: last contact day of the week (categorical) = último dia da semana de contato
# 11 - duration: last contact duration, in seconds (numeric) = duração em segundos do último contato
# 12 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
# 13 - pdays: (numeric) = número de dias desde o último contato
# 14 - previous: (numeric) = número de contatos feitos ao clientes antes da útima campanha
# 15 - poutcome: (categorical) = resultado da campanha
# 16 - emp.var.rate: (numeric) = tx de variação de emprego
# 17 - cons.price.idx: (numeric) = índice de preço ao consumidor (IPC)
# 18 - cons.conf.idx: (numeric) = índice de confiança do consumidor
# 19 - euribor3m: (numeric) = tx de 3 meses euribor
# 20 - nr.employed: (numeric) = número de empregados

# Output variable (desired target):
# 21 - y - has the client subscribed a term deposit? (binary: 'yes', 'no')

# Import data

In [6]:
# fonte: https://www.kaggle.com/henriqueyamahata/bank-marketing?select=bank-additional-names.txt
df = pd.read_csv('bank-additional-full__.csv', sep=';')

In [7]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [9]:
df['age'].mean()

40.02406040594348

In [10]:
# amostragem aleatória simples
df.sample(100)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
24568,35,admin.,married,university.degree,no,no,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no
32739,30,services,single,high.school,no,yes,yes,cellular,may,mon,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,no
18624,53,admin.,married,high.school,unknown,no,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1,no
30436,21,student,single,unknown,no,yes,yes,cellular,may,mon,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1,yes
2623,45,services,single,professional.course,unknown,unknown,unknown,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5934,28,admin.,single,university.degree,no,no,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
33736,38,self-employed,married,basic.9y,no,no,yes,telephone,may,wed,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
29939,40,technician,single,professional.course,no,yes,no,cellular,apr,mon,...,2,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1,no
4841,40,blue-collar,married,basic.9y,unknown,no,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,no
37248,28,admin.,married,university.degree,no,yes,no,cellular,aug,fri,...,1,999,1,failure,-2.9,92.201,-31.4,0.881,5076.2,no

In [13]:
# amostragem estratificada de 50 clients solteiros
df[df['marital']=='single'].sample(50)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
34909,24,blue-collar,single,basic.9y,no,yes,no,cellular,may,fri,...,4,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no
8586,45,self-employed,single,high.school,no,no,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
18230,35,self-employed,single,university.degree,no,yes,no,cellular,jul,wed,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
31829,34,services,single,high.school,no,no,no,cellular,may,thu,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.327,5099.1,yes
6304,32,admin.,single,high.school,no,yes,no,telephone,may,tue,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
37420,27,unemployed,single,high.school,no,no,no,cellular,aug,wed,...,1,4,3,success,-2.9,92.201,-31.4,0.879,5076.2,no
21981,34,technician,single,university.degree,no,yes,no,cellular,aug,wed,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
11918,32,admin.,single,university.degree,unknown,no,no,telephone,jun,fri,...,15,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
7867,33,technician,single,university.degree,no,yes,no,telephone,jun,mon,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1,no
15517,25,technician,single,university.degree,no,no,no,cellular,jul,fri,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,no
35250,24,technician,single,professional.course,no,no,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,no
39982,25,student,single,high.school,no,yes,yes,cellular,jun,tue,...,2,6,3,success,-1.7,94.055,-39.8,0.761,4991.6,yes
27929,28,admin.,single,high.school,no,no,yes,cellular,mar,fri,...,2,999,0,nonexistent,-1.8,92.843,-50.0,1.531,5099.1,no
12756,31,admin.,single,basic.9y,unknown,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
14656,27,services,single,high.school,no,no,no,cellular,jul,tue,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
17868,44,student,single,unknown,unknown,no,yes,cellular,jul,tue,...,6,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
32624,37,management,single,basic.9y,no,no,no,cellular,may,mon,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,no
5399,28,services,single,high.school,no,yes,yes,telephone,may,fri,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
13148,31,admin.,single,high.school,no,no,no,cellular,jul,wed,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
26911,31,services,single,high.school,no,yes,no,cellular,nov,thu,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
17790,57,admin.,single,university.degree,no,no,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
8242,36,student,single,basic.9y,no,yes,no,telephone,jun,tue,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,no
38323,25,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,...,1,999,1,failure,-3.4,92.431,-26.9,0.739,5017.5,yes
37017,25,student,single,unknown,unknown,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,-2.9,92.469,-33.6,1.044,5076.2,yes
19244,32,technician,single,professional.course,no,yes,no,cellular,aug,wed,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1,no
35035,32,admin.,single,university.degree,no,yes,no,cellular,may,fri,...,8,999,1,failure,-1.8,92.893,-46.2,1.250,5099.1,no
27760,34,technician,single,professional.course,no,yes,no,cellular,mar,fri,...,1,999,0,nonexistent,-1.8,92.843,-50.0,1.726,5099.1,yes
21513,30,technician,single,professional.course,no,no,no,cellular,aug,tue,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
11927,31,services,single,professional.course,no,yes,no,telephone,jun,fri,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
11175,38,technician,single,professional.course,no,no,no,telephone,jun,thu,...,4,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,no
41130,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.041,4963.6,yes
39000,38,technician,single,university.degree,no,yes,no,cellular,dec,mon,...,2,999,0,nonexistent,-3.0,92.713,-33.0,0.717,5023.5,yes
17061,28,services,single,high.school,no,no,no,cellular,jul,fri,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
23443,31,admin.,single,university.degree,no,yes,no,cellular,aug,wed,...,17,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
30567,30,technician,single,professional.course,no,no,no,cellular,may,mon,...,4,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
26151,36,admin.,single,university.degree,no,yes,no,cellular,nov,wed,...,4,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no
26593,30,blue-collar,single,high.school,no,no,no,cellular,nov,thu,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
12748,29,admin.,single,high.school,no,yes,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
32976,32,admin.,single,high.school,no,yes,no,cellular,may,mon,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,no
30304,21,admin.,single,high.school,no,no,no,cellular,apr,thu,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1,no
19054,41,technician,single,professional.course,no,yes,no,cellular,aug,tue,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,no
29847,32,blue-collar,single,basic.6y,no,no,no,cellular,apr,mon,...,4,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,no
28766,24,admin.,single,university.degree,no,yes,no,cellular,apr,thu,...,1,999,0,nonexistent,-1.8,93.075,-47.1,1.410,5099.1,yes
27553,30,admin.,single,high.school,no,no,yes,cellular,nov,fri,...,2,999,1,failure,-0.1,93.200,-42.0,4.021,5195.8,no
36709,30,technician,single,university.degree,no,yes,no,cellular,jun,fri,...,2,999,0,nonexistent,-2.9,92.963,-40.8,1.268,5076.2,yes
39280,30,unemployed,single,professional.course,no,yes,no,cellular,mar,mon,...,1,999,0,nonexistent,-1.8,93.369,-34.8,0.646,5008.7,no
40111,27,admin.,single,university.degree,unknown,no,no,cellular,jul,mon,...,6,999,0,nonexistent,-1.7,94.215,-40.3,0.827,4991.6,no
33909,50,blue-collar,single,professional.course,no,no,no,cellular,may,wed,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1,no
17949,37,admin.,single,high.school,no,yes,no,cellular,jul,tue,...,4,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
7811,39,admin.,single,university.degree,no,yes,yes,telephone,jun,mon,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1,no

In [12]:
# amostragem estratificada de 50 clientes casados
df[df['marital']=='married'].sample(50)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
28366,52,admin.,married,high.school,no,no,no,cellular,apr,thu,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.435,5099.1,no
32849,39,blue-collar,married,basic.4y,no,no,no,cellular,may,mon,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.299,5099.1,no
12663,51,blue-collar,married,unknown,unknown,yes,no,cellular,jul,mon,...,2,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,no
21165,35,technician,married,professional.course,no,yes,no,cellular,aug,mon,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
17610,30,admin.,married,unknown,no,no,no,cellular,jul,mon,...,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
10212,48,admin.,married,high.school,unknown,no,no,telephone,jun,mon,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.960,5228.1,no
13005,28,services,married,high.school,no,no,no,cellular,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
2475,51,blue-collar,married,basic.4y,unknown,no,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
36680,55,housemaid,married,unknown,no,no,no,cellular,jun,fri,...,1,999,1,failure,-2.9,92.963,-40.8,1.268,5076.2,no
25957,32,entrepreneur,married,university.degree,no,yes,yes,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no
39407,46,technician,married,professional.course,no,no,yes,cellular,apr,tue,...,1,5,2,success,-1.8,93.749,-34.6,0.638,5008.7,yes
33820,58,retired,married,basic.4y,unknown,yes,no,cellular,may,wed,...,1,999,1,failure,-1.8,92.893,-46.2,1.281,5099.1,no
6417,35,services,married,high.school,no,no,no,telephone,may,wed,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
23410,44,admin.,married,basic.9y,unknown,no,no,cellular,aug,wed,...,17,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
26449,34,management,married,university.degree,no,no,no,telephone,nov,thu,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,no
37326,60,retired,married,high.school,no,no,no,cellular,aug,tue,...,1,4,1,success,-2.9,92.201,-31.4,0.883,5076.2,no
17883,57,housemaid,married,high.school,unknown,no,no,telephone,jul,tue,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,no
18183,36,admin.,married,high.school,no,yes,no,cellular,jul,wed,...,13,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
31922,40,admin.,married,basic.9y,no,yes,yes,cellular,may,thu,...,2,10,1,success,-1.8,92.893,-46.2,1.327,5099.1,no
31104,55,blue-collar,married,basic.9y,no,yes,no,cellular,may,wed,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1,no
38184,82,retired,married,university.degree,no,yes,no,cellular,oct,tue,...,1,999,0,nonexistent,-3.4,92.431,-26.9,0.744,5017.5,yes
4615,58,retired,married,university.degree,no,no,no,telephone,may,tue,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
1130,39,management,married,university.degree,no,yes,no,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,no
30717,39,blue-collar,married,basic.9y,no,no,no,cellular,may,tue,...,1,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1,no
32475,46,services,married,basic.4y,no,yes,no,cellular,may,fri,...,3,999,1,failure,-1.8,92.893,-46.2,1.313,5099.1,no
4890,51,entrepreneur,married,basic.4y,unknown,yes,no,telephone,may,wed,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.858,5191.0,no
37033,31,technician,married,university.degree,no,no,no,cellular,jul,tue,...,1,999,0,nonexistent,-2.9,92.469,-33.6,1.044,5076.2,no
3160,53,unknown,married,high.school,unknown,no,no,telephone,may,thu,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
35489,30,admin.,married,basic.9y,no,yes,yes,cellular,may,mon,...,1,999,1,failure,-1.8,92.893,-46.2,1.244,5099.1,no
7466,41,blue-collar,married,basic.4y,no,yes,no,telephone,may,fri,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,no
6222,36,services,married,high.school,unknown,no,no,telephone,may,tue,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16790,54,services,married,high.school,unknown,no,no,telephone,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,no
24673,37,management,married,high.school,no,yes,no,telephone,nov,mon,...,2,999,1,failure,-0.1,93.200,-42.0,4.191,5195.8,no
35156,49,self-employed,married,high.school,no,no,no,cellular,may,fri,...,3,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,yes
28121,42,management,married,unknown,no,yes,no,cellular,apr,mon,...,2,999,1,failure,-1.8,93.075,-47.1,1.466,5099.1,no
38544,31,admin.,married,high.school,no,yes,no,cellular,oct,thu,...,2,999,1,failure,-3.4,92.431,-26.9,0.722,5017.5,no
13638,40,technician,married,basic.9y,no,yes,no,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,no
10593,34,management,married,university.degree,no,yes,no,telephone,jun,tue,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,no
7284,54,admin.,married,university.degree,unknown,no,yes,telephone,may,thu,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
10914,31,blue-collar,married,basic.9y,no,no,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
21883,53,blue-collar,married,basic.4y,no,yes,no,cellular,aug,wed,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,no
20653,54,services,married,basic.4y,no,yes,yes,cellular,aug,wed,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,no
22281,52,admin.,married,unknown,no,yes,no,cellular,aug,thu,...,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no
11516,36,admin.,married,university.degree,no,yes,yes,telephone,jun,fri,...,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
38171,51,technician,married,professional.course,no,yes,no,cellular,oct,thu,...,6,6,3,failure,-3.4,92.431,-26.9,0.754,5017.5,no
37168,37,admin.,married,university.degree,no,no,no,cellular,aug,thu,...,1,999,0,nonexistent,-2.9,92.201,-31.4,0.883,5076.2,no
25832,30,services,married,professional.course,no,yes,no,cellular,nov,wed,...,2,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,yes
30583,50,self-employed,married,high.school,no,yes,no,cellular,may,mon,...,3,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1,no
7083,28,blue-collar,married,basic.4y,no,no,no,telephone,may,thu,...,3,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0,no
21247,50,blue-collar,married,basic.9y,no,yes,yes,cellular,aug,mon,...,3,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,no